.navigation {
  padding-top: 10;
}

.jumbotron p {
  padding-left: 40;
  padding-right: 40;
  text-align: center;
}

.jumbotron h1{
padding-top: 60;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
